<h3>Bridging the Gap Student Portal</h3>
<hr>
<p>This study is part of the project entitled “Improving student interest in STEM through preservice teacher Industry Engagement”. This project will investigate engagement in a STEM industry by pre-service teachers of science, as part of their preparation for teaching in secondary schools. They will then use this experience to develop an innovative and creative unit plan to undertake during their final teaching placement with a secondary science class. This project is supported by <!--the Faculty of Education Humanities and Law,--> the College of Education, Psychology and Social Work, The Office of the Deputy Vice Chancellor (Research) and the Department for Innovation and Skills.</p>
<br>
<p class="text-center text-xs-center"><a href="https://goo.gl/forms/Oux4kcytmpIxuEtB3" class="btn btn-lg btn-outline-primary">Start Pre-Survey</a></p> <br>
<p class="text-center text-xs-center"><a href="https://goo.gl/forms/nGK1AS5oWsfOEOfh2" class="btn btn-lg btn-outline-primary">Start Post-Survey</a></p>
<br>
<p class="text-center text-xs-center small">This research project has been approved by the Flinders University Social and Behavioural Research Ethics Committee (Project number 7391). For more information regarding ethical approval of the project the Executive Officer of the Committee can be contacted by telephone on 8201 3116, by fax on 8201 2035 or by email human.researchethics@flinders.edu.au</p>
