      <br>
      <p><img src="http://www.flinders.edu.au/MACO_files/images/email_signature_logo.gif" style="max-width: 100px;"></p>
      <p>CRICOS Provider Number: 00114A</p>
      <p><em>This email and any attachments may be confidential. If you are not the intended recipient, please inform the sender by reply email and delete all copies of this message.</em></p>
    </div>
  </body>
</html>
