<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style> html, body { font-family: 'Open Sans', Helvetica, Arial, sans-serif; } </style>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <br>
      <p>Dear <%= @user.firstname %>,</p>

      <p>Thank you for taking the time to book into a focus group.</p>

      <p>This email confirms that you have successfully booked the following timeslot:</p>

      <hr>

      <p><%= @focus_group.booking %></p>

      <hr>

      <p>If you are no longer able to attend a focus group at this time, please contact: david.jeffries@flinders.edu.au or aidan.cornelius-bell@flinders.edu.au.</p>

      <p>Further details and specific times will be provided shortly.</p>

      <p>All the best,</p>

      <p>The Bridging the Gap Project Team.</p>
      <br>
      <p><img src="http://www.flinders.edu.au/MACO_files/images/email_signature_logo.gif" style="max-width: 100px;"></p>
      <p>CRICOS Provider Number: 00114A</p>
      <p><em>This email and any attachments may be confidential. If you are not the intended recipient, please inform the sender by reply email and delete all copies of this message.</em></p>
    </div>
  </body>
</html>
