<div class="container">
<h1>Publications</h1>
<p>The following publications are released by Flinders University for the Bridging the Gap project. &copy; Copyright 2016 &mdash; <%= Date.today.strftime("%Y") %> All Rights Reserved, Flinders University. Copy maintainer: <a href="mailto:bridgingthegap@flinders.edu.au">bridgingthegap@flinders.edu.au</a>. Intellectual property inquiries: <a href="mailto:legal@flinders.edu.au">legal@flinders.edu.au</a>.</p>
</div>

<div class="container" style="background: white; font-size: 14px; border-radius: 5px; margin: 10px 5px; padding: 10px 10px; line-height: 1.5;">
<p>Improving Student Interest in STEM through Pre-service Teacher Industry Engagement: Bridging the Gap Research Report 1: Report on the outcomes of Stage 2: Cohort 1 and Progress of Stage 3: Cohort 1 31st January 2017 to 30th September 2017<br>
ISBN: 978-1-925562-27-9</p>
<a href="#" class="btn btn-primary">Download Report</a>
</div>

<div class="container" style="background: white; font-size: 14px; border-radius: 5px; margin: 10px 5px; padding: 10px 10px; line-height: 1.5;">
<p>Improving Student Interest in STEM through Pre-service Teacher Industry Engagement: Bridging the Gap Research Report 2: Combined Report on the Outcomes of Stage 3: Cohort 1 and Completion of Stage 2: Cohort 2 30th September 2017 to 31st December 2017<br>
ISBN: 978-1-925562-28-6</p>
<a href="#" class="btn btn-primary">Download Report</a>
</div>

<div class="container" style="background: white; font-size: 14px; border-radius: 5px; margin: 10px 5px; padding: 10px 10px; line-height: 1.5;">
<p>Improving Student Interest in STEM through Pre-service Teacher Industry Engagement: Bridging the Gap Research Report 3: Report on the Outcomes of Stage 2: Cohort 2 and Progress on Stage 3: Cohort 2 31st January 2018 to 31st August 2018<br>
ISBN: 978-1-925562-29-3</p>
<a href="#" class="btn btn-primary">Download Report</a>
</div>

<div class="container" style="background: white; font-size: 14px; border-radius: 5px; margin: 10px 5px; padding: 10px 10px; line-height: 1.5;">
<p>Improving Student Interest in STEM through Pre-service Teacher Industry Engagement: Bridging the Gap Research Report 4: Final Report on the Outcomes of Stage 3: Cohort 2 and Completion of Stage 2: Cohort 3 30th September 2018 to 31st December 2018<br>
ISBN: 978-1-925562-26-2</p>
<a href="#" class="btn btn-primary">Download Report</a>
</div>
