/* line 1, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 5, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 11, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 19, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 30, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 36, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700";
/* line 3, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
html, body {
  font-family: 'Open Sans', sans-serif;
}

/* line 7, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
#navbar {
  border-top: 10px solid #E36960;
  border-bottom: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  background: url(/assets/header_back-7f85883d388312c53a56b7c17155858b039f8ef73c2301e375f4270e113a463d.jpg);
  background-size: cover;
}

/* line 16, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
#navbar-hp {
  border-bottom: 10px solid #E36960;
  border-top: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
  background: url(/assets/header_back-7f85883d388312c53a56b7c17155858b039f8ef73c2301e375f4270e113a463d.jpg);
  background-size: cover;
}

/* line 25, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.browser-warning {
  background: #E36960;
  color: #fff;
  padding-top: 24px;
}

/* line 31, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.browser-warning a {
  color: #fff;
}

/* line 35, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.admin-bar {
  border-top: 10px solid #E36960;
  padding-right: 0px;
  padding-top: 10px;
  line-height: 2.5;
}

/* line 42, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.admin-bar a {
  color: black;
}

/* line 46, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.admin-bar a:hover {
  color: white;
  background: black;
  text-decoration: none;
}

/* line 52, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.col-pad {
  padding-left: 0px;
}

/* line 56, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.navbar-nav li {
  text-transform: uppercase;
  font-weight: 500;
}

/* Full width heroes */
/* line 62, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.jelly-bg {
  background: url(/assets/jelly-lhs-46645a17a58d9f3a32ece5a71563881243de16486ad8f168f4c8bf74a8e0e3db.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

/* line 69, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.jellies {
  background: url(/assets/jellies-fee2dbf5796ec86852d574b1666cd1402d35ccaa6708b0590da30c08f3155383.jpg) 50% 35% no-repeat;
  background-size: cover;
  min-height: 380px;
}

/* line 74, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.jellies > .row > .inwrap {
  color: #fff;
  margin-top: 120px;
  font-size: 25px;
  font-weight: 100;
}

@media (max-width: 766px) {
  /* line 82, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
  .jellies {
    min-height: 300px;
  }

  /* line 85, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
  .jellies > .row > .inwrap {
    margin-top: 50px;
    font-size: 16px;
  }
}
/* line 91, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.fading-container {
  background: linear-gradient(360deg, #021C2B, #0E0F11);
  min-height: 40px;
}

/* line 96, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.brain {
  background: url(/assets/brain-6797f52c88afcfe037911719c66bb922cd6d3d386be0710ab5417d6e23952664.jpg) 80% 50% no-repeat;
  background-size: cover;
  min-height: 100%;
}

/* line 102, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.hp-adl {
  background: url(/assets/adl55325163-32a33ce84b033fd800c44c43930af3802598cdf6bb20dd0cc66fadc416077d5c.jpg) 50% 99.5% no-repeat;
  background-size: cover;
  min-height: 120px;
}

/* line 109, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.container-dark {
  background: #021C2B;
  color: #fff;
  padding: 20px 0;
  border-bottom: 10px solid #E36960;
  margin-top: 10px;
}

/* line 116, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.container-dark-hp {
  border-top: 10px solid #E36960;
  border-bottom: 0px;
}

/* line 120, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.container-dark a {
  color: #fff;
}

/* line 123, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.container-dark a:hover {
  color: #FCC132;
  text-decoration: none;
}

/* line 128, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.col-dark {
  background: #021C2B;
  color: #fff;
  padding: 20px;
  padding-left: 90px;
}

@media (max-width: 991px) {
  /* line 136, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
  .col-dark {
    padding-right: 90px;
  }
}
/* line 140, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
blockquote {
  border-left: 0;
}

/* line 144, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.pages-controller-header {
  background: #030A0E;
  color: #E36960;
  padding-bottom: 15px;
  padding-top: 2px;
}

/* line 150, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.pages-controller-header > .container > .row > .ttl > h1 {
  font-weight: 600;
  margin-top: 22px;
}

/* line 155, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.pages-controller-header > .container > .row > .int {
  margin-top: 16px;
  text-align: right;
}

/* line 160, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.pages-controller-body {
  line-height: 2.0;
  margin-bottom: 20px;
}

/* Additional Panels */
/* line 167, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.panel-secondary {
  border-color: #A3AE4D;
}

/* line 170, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.panel-secondary > .panel-heading {
  color: #ffffff;
  background-color: #A3AE4D;
  border-color: #A3AE4D;
}

/* line 175, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.panel-secondary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #A3AE4D;
}

/* line 178, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.panel-secondary > .panel-heading .badge {
  color: #A3AE4D;
  background-color: #ffffff;
}

/* line 182, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.panel-secondary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #A3AE4D;
}

/* line 186, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.panel-tertiary {
  border-color: #1B354E;
}

/* line 189, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.panel-tertiary > .panel-heading {
  color: #ffffff;
  background-color: #1B354E;
  border-color: #1B354E;
}

/* line 194, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.panel-tertiary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #1B354E;
}

/* line 197, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.panel-tertiary > .panel-heading .badge {
  color: #1B354E;
  background-color: #ffffff;
}

/* line 201, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.panel-tertiary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #1B354E;
}

/* line 205, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.postback-has-success {
  background: rgba(0, 255, 0, 0.15);
  transition: background 0.5s linear;
  border-radius: 5px;
}

/* line 211, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.list-group > .subitem::before {
  content: "→ ";
}

/* line 215, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.list-group > .subitem {
  background: #FAFAFA;
  padding-left: 40px;
}

/* line 220, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-hp-lm {
  border-radius: 0px;
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
}

/* line 227, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.img-320 {
  width: 100%;
  max-width: 320px;
  display: block;
}

/* line 233, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.img-margin {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* line 239, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.hphref {
  text-decoration: underline;
}

/* line 243, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.hphref:hover {
  text-decoration: none;
}

/* line 247, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.clr-margin {
  border-top: #fed130 solid 10px;
}

/* line 251, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.help-description {
  font-size: 16px;
  font-weight: lighter;
}

/* line 256, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.project-info-reduce {
  margin-top: -120px;
}

/* line 260, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.table-rotated th > span {
  transform-origin: 0 50%;
  transform: rotate(-90deg);
  white-space: nowrap;
  display: block;
  width: 50px;
}

/* line 271, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.ov-scrol {
  display: block;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 278, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.disable-border-radius {
  border-radius: 0px;
}

/* line 282, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.move-bottom {
  position: absolute;
  bottom: 0;
  max-width: 420px;
}

/* line 290, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-secondary {
  color: #ffffff;
  background-color: #ffd049;
  border-color: #ffc930;
}

/* line 295, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #ffc316;
  border-color: #fcbb00;
}

/* line 301, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-secondary:hover {
  color: #ffffff;
  background-color: #ffc316;
  border-color: #fcbb00;
}

/* line 306, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  color: #ffffff;
  background-color: #ffc316;
  border-color: #fcbb00;
}

/* line 313, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-secondary:active:hover,
.btn-secondary.active:hover,
.open > .dropdown-toggle.btn-secondary:hover,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.open > .dropdown-toggle.btn-secondary:focus,
.btn-secondary:active.focus,
.btn-secondary.active.focus,
.open > .dropdown-toggle.btn-secondary.focus {
  color: #ffffff;
  background-color: #ffd049;
  border-color: #ffc930;
}

/* line 326, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  background-image: none;
}

/* line 331, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled.focus,
.btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary.focus {
  background-color: #ffd049;
  border-color: #ffc930;
}

/* line 343, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-secondary .badge {
  color: #ffd049;
  background-color: #ffffff;
}

/* line 350, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-tertiary {
  color: #ffffff;
  background-color: #032f61;
  border-color: #022348;
}

/* line 355, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-tertiary:focus,
.btn-tertiary.focus {
  color: #ffffff;
  background-color: #022348;
  border-color: #011730;
}

/* line 361, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-tertiary:hover {
  color: #ffffff;
  background-color: #022348;
  border-color: #011730;
}

/* line 366, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-tertiary:active,
.btn-tertiary.active,
.open > .dropdown-toggle.btn-tertiary {
  color: #ffffff;
  background-color: #022348;
  border-color: #011730;
}

/* line 373, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-tertiary:active:hover,
.btn-tertiary.active:hover,
.open > .dropdown-toggle.btn-tertiary:hover,
.btn-tertiary:active:focus,
.btn-tertiary.active:focus,
.open > .dropdown-toggle.btn-tertiary:focus,
.btn-tertiary:active.focus,
.btn-tertiary.active.focus,
.open > .dropdown-toggle.btn-tertiary.focus {
  color: #ffffff;
  background-color: #032f61;
  border-color: #022348;
}

/* line 386, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-tertiary:active,
.btn-tertiary.active,
.open > .dropdown-toggle.btn-tertiary {
  background-image: none;
}

/* line 391, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-tertiary.disabled:hover,
.btn-tertiary[disabled]:hover,
fieldset[disabled] .btn-tertiary:hover,
.btn-tertiary.disabled:focus,
.btn-tertiary[disabled]:focus,
fieldset[disabled] .btn-tertiary:focus,
.btn-tertiary.disabled.focus,
.btn-tertiary[disabled].focus,
fieldset[disabled] .btn-tertiary.focus {
  background-color: #032f61;
  border-color: #022348;
}

/* line 403, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.btn-tertiary .badge {
  color: #032f61;
  background-color: #ffffff;
}

/* line 408, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.text-danger > a:link {
  color: #e46763;
}

/* line 412, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.text-danger > a:hover {
  color: #941d1a !important;
}

/* line 416, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.dropdown-header {
  text-transform: none !important;
}

/* line 420, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.table-block {
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* line 426, /Users/aidancornelius/Dropbox (Personal)/___Flinders University (STEM PST IE)/WebApp/btg/app/assets/stylesheets/universal.scss */
.a-mtp {
  border-top: 4px solid #E36960;
  padding: 15px;
  margin-left: 5px;
  margin-right: 5px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

