<h1>Editing Industry Presentation</h1>

<%= render 'form', industry_presentation: @industry_presentation %>

<br>
<%= link_to 'Show', @industry_presentation %> |
<%= link_to 'Back', industry_presentations_path %>
