<% title "Realtime Answers" %>
<div class="clearfix"></div>
<div class="pull-right">
  <br>
  <%= link_to "Surveys", i_surveys_path, class: "btn btn-primary" %>
</div>
<h1>Realtime Answers</h1>
<hr>
<%= action_cable_meta_tag %>
<div id="messages" class="active">

</div>
