</div>
<div class="container-fluid pages-controller-header" style="background: linear-gradient( 135deg, #1B354E, #021C2B );">
  <div class="container">
    <div class="row">
        <div class="col-xs-6 ttl"><h1><%= @title %></h1></div>
        <div class="col-xs-6 int hidden-xs">
          <p><span class="text-muted">maintained by </span><%= @author %></p>
          <p><span class="text-muted">updated </span><%= @date.strftime("%B %-d, %Y") %></p>
        </div>
    </div>
  </div>
</div>
<div class="container pages-controller-body">
