<ul class="nav nav-tabs nav-justified">
  <li role="presentation" <% if current_page?("/users/edit") %>class="active"<% end %>><a href="/users/edit">Profile</a></li>
  <li role="presentation" <% if current_page?("/signatures/new") %>class="active"<% end %>><a href="/signatures/new">Consent Forms</a></li>
  <li role="presentation" <% if current_page?("/illuminet/polymer") %>class="active"<% end %>><a href="/illuminet/polymer">Surveys</a></li>
</ul>
