</div>

<div class="container-fluid jellies">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-4 inwrap">
      Increasing secondary school student interest in STEM starts with university teacher education.
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-dark">
      <p>The purpose of this project is to investigate the potential to increase secondary school student interest in STEM (Science Technology Engineering and Mathematics) topics by forging connections between university teacher education, schools and business and industry by engaging pre-service teachers of secondary science in short to medium term STEM industry placements. By so doing pre-service teacher knowledge about the application of science in society and about different career paths in STEM will be increased through direct personal experience. In a flow on effect, the teaching of students in secondary schools will be enriched by increased teacher awareness about real world applications in science in the longer term and the teaching of science as a human endeavour. The project will also pave the way for extended dialogue and knowledge exchange to take place between teachers, students, teacher educators, business and industry.</p>
      <p>This project is significant because it sets out not only to increase pre-service teachers knowledge about the applications of science to society, but also the movement of students from the secondary sector into the world of STEM. The movement of secondary school students in STEM tertiary education and in STEM careers is expected to be achieved because the project will strengthen connections between different communities of practice, notably university pre-service teacher education, centres for innovation and research, secondary schools, and business and industry, facilitating a shift in mind set concerning the purposes and relevance of STEM. When students understand better the multiple uses of STEM and possibilities of utilizing their STEM knowledge in business and industry they may be more likely to choose a career in STEM.</p>
    </div>
    <div class="col-md-6 hidden-xs brain">
    </div>
  </div>
</div>

<div class="container">
  <br>
  <div class="text-center">
    <blockquote>
      <p>Entrepreneurship is an economic activity requiring attention to the framework conditions for business creation and growth. But more importantly it is a human endeavour, requiring attention to the way that our attitudes are shaped, our skills developed, our networks formed. And so it is inseparable from education – not independent of it.</p>
      <footer>Chubb, 2015 <cite title="Boosting High-impact entrepreneurship in Australia">Boosting High-impact entrepreneurship in Australia</cite></footer>
    </blockquote>
  </div>

<script>
$(".brain").height($(".col-dark").height() + 40 + "px");
</script>
