<h1>Welcome</h1>
<% if current_user.group.level == 3 %>
<p>Welcome to your <%= t(:project) %> participation dashboard. Here you will find details about pre-service teacher(s), research scientist(s) placed in your industry and the contact details for the university. You will also find details about participating in pre-service teacher engagement research.</p>
<p>There are two key areas that will be useful to you, these are the Placements and Research Participation panels. Clicking on either of these will display more information about what you can find there.</p>
<% elsif current_user.group.level == 2 %>
<p>Welcome to your <%= t(:project) %> participation dashboard. Here you will find details about the industry and research scientist(s) you have been placed with (where available). You will also find details about participating in pre-service teacher engagement research. Please make sure you check for, and sign any relevant consent forms before continuing.</p>
<% else %>
<p>Welcome to your <%= t(:project) %> participation dashboard. Thank you for registering.</p>
<% end %>

<br>
<div class="row">
  <div class="col-xs-6">
    <a href="<%= url_for illuminet_polymer_path %>" class="btn btn-primary btn-lg btn-block">Research Participation Dashboard</a>
  </div>
  <div class="col-xs-6">
    <a href="#" class="btn btn-info btn-lg btn-block">Placements Dashboard<a>
  </div>
</div>
<br>
