<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style> html, body { font-family: 'Open Sans', sans-serif; } </style>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <p>Hello <%= @resource.email %>!</p>

      <p>We're contacting you to notify you that your password has been changed.</p>

      <br>
      <p><img src="http://www.flinders.edu.au/MACO_files/images/email_signature_logo.gif" style="max-width: 100px;"></p>
      <p>CRICOS Provider Number: 00114A</p>
      <p><em>This email and any attachments may be confidential. If you are not the intended recipient, please inform the sender by reply email and delete all copies of this message.</em></p>
    </div>
  </body>
</html>
