

    <br>

    <div class="text-xs-center"><%= image_tag("flinders-bridging-aidown.svg", style: "max-height: 100px;") %><br><br>&copy; 2018 Flinders University. Bridging the Gap Project.</div>
    <p class="container text-xs-center">The Bridging the Gap project team acknowledges and pays respect to the Kaurna people as the traditional custodians of the Adelaide region. We also acknowledge the deep feelings of attachment and the relationship of the Kaurna people to their country. We pay our respects to the Kaurna peoples' ancestors and the living Kaurna people today.</p>

    <p class="text-center help-description">Get help via email: <a href="mailto:bridgingthegap@flinders.edu.au?subject=Bridging%20The%20Gap%20Help&body=%0A--%0APlease%20write%20your%20message%20above%20this%20line.%0AAction%20controller:%20<%= URI.escape(controller_name) %>%23<%= URI.escape(action_name) %>.%20Directory%20and%20user:%20<%= if current_user.present?; URI.escape(current_user.group.name + "/" + current_user.email); end; %>.">bridgingthegap@flinders.edu.au</a>.</p>


  <script src="/js/jquery-2.2.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/simplemde.min.css">
  <script type="text/javascript" src="/js/simplemde.min.js"></script>
  <script>
    var simplemde = new SimpleMDE({ element: document.getElementById("mde") });
    var simplemde = new SimpleMDE({ element: document.getElementById("mdetwo") });
  </script>
  </body>
</html>
